{% extends "base.html" %}

{% block content %}
    <form method="POST" action="/login">
        <fieldset>
            <legend>Přihlášení</legend>
            <label>
                Nickname:<br>
                <input type="text" name="nickname">
            </label>
            <br><br>
            <label>
                Heslo:<br>
                <input type="password" name="password">
            </label>
            <br><br>
            <label>
                <input type="checkbox" name="remember">
                Pamatovat si mě
            </label>
            <br><br>
            <button>Přihlásit se</button>
        </fieldset>
    </form>
{% endblock %}