{% extends "base.html" %}

{% block content %}
    <form class="add_task" method="POST" action="/add_task">
        <fieldset>
            <legend>Přidat úkol</legend>
            <label>
                <textarea name="new_task_content" rows="2" cols="70"
                          id="new_task_content" onkeyup="checkInputLength();"></textarea>
            </label>
            <br>
            <button id="submit_button" disabled>Přidat</button>
        </fieldset>
    </form>
    <fieldset>
        <legend>Moje úkoly</legend>
        <table id="tasks_table">
            <thead>
            <tr>
                <th>Úkol</th>
                <th>Hotovo?</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for task in user_tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.done }}</td>
                    <td>
                        <button>Hotovo</button>

                        <button onclick="openModal({{ task.id }}, '{{ task.content }}');">Upravit</button>

                        <button>Smazat</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </fieldset>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal_content">
            <div class="modal_header">
                <span>Upravit úkol</span>
                <span class="modal_close">&times;</span>
            </div>
            <form class="add_task" id="modal_form" method="POST" action="/edit_task">
                <label>
                    <textarea name="edited_task_content" rows="2" cols="70"
                              id="modal_form_content" onkeyup="checkInputLength();"></textarea>
                </label>
                <button id="modal_submit_button" disabled>Upravit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        "use strict";

        let newTaskContent, submitButton;
        let modal, modalSpan, modalForm, modalFormContent, modalSubmitButton;

        document.addEventListener("DOMContentLoaded", () => {
            // Přidání nového úkolu
            newTaskContent = document.getElementById("new_task_content");
            submitButton = document.getElementById("submit_button");

            // Modal – Editace úkolu (https://www.w3schools.com/howto/howto_css_modals.asp)
            modal = document.getElementById("modal"); // Get the modal
            modalSpan = document.getElementsByClassName("modal_close")[0]; // Get the <span> element that closes the modal
            modalForm = document.getElementById("modal_form");
            modalFormContent = document.getElementById("modal_form_content");
            modalSubmitButton = document.getElementById("modal_submit_button");
            modalSpan.onclick = () => { // When the user clicks on <span> (x), close the modal
                modal.style.display = "none";
            };
            window.onclick = (event) => { // When the user clicks anywhere outside of the modal, close it
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            };
        });

        // Enable/disable tlačítka pro přidání/editaci úkolu
        const checkInputLength = () => {
            submitButton.disabled = newTaskContent.value === "";
            modalSubmitButton.disabled = modalFormContent.value === "";
        };

        // Zobrazit modal pro editaci úkolu; nastavit odpovídající akci pro formulář; předvyplnit textarea
        const openModal = (taskId, taskContent) => {
            modal.style.display = "block";
            modalForm.action = `/edit_task/${taskId}`;
            modalFormContent.value = taskContent;
            modalSubmitButton.disabled = false;
        };
    </script>
{% endblock %}