{% extends "base.html" %}

{% block content %}
    <form class="add_task" method="POST" action="/add_task">
        <fieldset>
            <legend>Přidat úkol</legend>
            <label>
                <textarea name="new_task_content" rows="2" cols="70"
                          id="new_task_content" onkeyup="checkInputLength();"></textarea>
            </label>
            <br>
            <button id="submit_button" disabled>Přidat</button>
        </fieldset>
    </form>
    <fieldset>
        <legend>Moje úkoly</legend>
        <table id="tasks_table">
            <thead>
            <tr>
                <th>Úkol</th>
                <th>Hotovo?</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for task in user_tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.done }}</td>
                    <td>
                        <button>Hotovo</button>

                        <button>Upravit</button>

                        <button>Smazat</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </fieldset>
{% endblock %}

{% block javascript %}
    <script>
        "use strict";

        let newTaskContent, submitButton;

        document.addEventListener("DOMContentLoaded", () => {
            newTaskContent = document.getElementById("new_task_content");
            submitButton = document.getElementById("submit_button");
        });

        // Enable/disable tlačítka pro přidání nového úkolu
        const checkInputLength = () => {
            submitButton.disabled = newTaskContent.value === "";
        };
    </script>
{% endblock %}