{% extends "base.html" %}

{% block content %}
    <form class="add_task" method="POST" action="/add_task">
        <fieldset>
            <legend>Přidat úkol – uživatel {{ nickname }}</legend>
            <label>
                <textarea name="new_task_content" rows="2" cols="70"
                          id="new_task_content" onkeyup="checkInputLength();"></textarea>
            </label>
            <br>
            <button id="submit_button" disabled>Přidat</button>
        </fieldset>
    </form>
{% endblock %}

{% block javascript %}
    <script>
        let user_tasks, newTaskContent, submitButton;

        document.addEventListener("DOMContentLoaded", () => {
            newTaskContent = document.getElementById("new_task_content");
            submitButton = document.getElementById("submit_button");
        });

        // Enable/disable tlačítka pro přidání nového úkolu
        const checkInputLength = () => {
            submitButton.disabled = newTaskContent.value === "";
        };

    </script>
{% endblock %}